<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

 <h1><%=  title  %></h1>


 <table id="list">
    <thead>
      <tr>
        <th>Name</th>
        <th>Google ID</th>
      </tr>
    </thead>
    <tbody>
      <% designers.forEach((d) => { %>
      <tr>
        <td><%= d.name %></td>
        <td><%= d.googleId %></td>
        <td><a href="/designers/<%= d._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>

    
  </table>

<a href="/designers/new">ADD A NEW DESIGNER</a>
  </body>
</html>