<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/designers/designersindex.css' />
  </head>
  <body>

<div>

    <h1><%=  title  %></h1>
    <a href='/'>HOME</a>

</div>



 <table id="list">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Username</th>
        <th>Website</th>
        <th>Bio</th>
        <th>Details</th>
        <th>Remove Designer</th>
      </tr>
    </thead>
    <tbody>
      <% designers.forEach((d) => { %>
      <tr>
        <td><%= d.name %></td>
        <td><%= d.email %></td>
        <td><%= d.userName %></td>
        <td><%= d.website %></td>
        <td><%= d.bio %></td>

        <td><a href="/designers/<%= d._id %>">DETAILS</a></td>

        <td><form action="/designers/<%= d._id %>?_method=DELETE" method="POST"></form></td>

        
      </tr>
      <% }); %>
    </tbody>



  </table>
  </body>
</html>