<!DOCTYPE html>

<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

 <h1><%=  title  %></h1>
 
 <table id="list">
        <thead>
          <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Website</th>
            <th>Bio</th>
          </tr>
        </thead>
        <tbody>
    
          <tr>
            <td><%= designer.designerName %></td>
            <td><%= designer.userName %></td>
            <td><%= designer.website %></td>
            <td><%= designer.bio %></td>
          </tr>
          
        </tbody>
      </table>

      <a href="/designers"></HOME></a>

  </body>
</html>